html, body {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-direction: row;
}

#left {
  width: 33.33%;
  background-image: url("images/guacamaya.avif");
  background-size: cover;
  min-height: 800px;
  background-repeat: no-repeat;
  background-position: center;
}

#right {
  flex-grow: 1;
  background-color: #ccc;
}
