html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.container {
  display: grid;
  grid-template-columns: calc(100% - 60%) auto;
  height: 100%;
}

#left {
  display: grid;
  place-items: center;
  background-color: #624f90;
}

#right {
  background-color: #221d2f;
}
